* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', 'san-serif';
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

.navbar {
    height: 90px;
    width: 100%;
    /* background-color: #9696da; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
    margin-right: clamp(10px, 5vw, 150px)
}

.logo {
    background-image: url(../images/logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;

}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid #101042;
}

.search {
    border: 2px solid lightgray;
    border-radius: 26px;
    height: 40px;
    width: clamp(200px, 40vw, 600px);

}

.search-button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #101042;
    color: white;
}

.add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 60px;
    gap: 15px;

}

.panel {
    width: 100%;
    height: 50px;
    background-color: #101042;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}


.mobilepanel-ops {
    padding-top: 13px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.hero-img {
    width: 70%;
    max-height: 500px;
    /* object-fit: cover; */
    display: block;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 35px;
}

.box-img {
    margin: 50px 30px;
    max-width: 25%;
}

.box-img img {
    width: 100%;
    height: auto;
    display: block;
}

.best-seller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #6a1b9a;
    margin-top: 15px;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #999;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 10px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 24px; */
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.product {
    background: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.25s ease, box-shadow 0.25s ease-in-out, transform 0.5s ease;
}

.product:hover {
    border-color: #6a1b9a;
    transform: translateY(-10px);

}

.product-image {
    width: 90%;
    overflow: hidden;
    background: #f3eef8;
    position: relative;
    margin: 0 auto;
}

.product-image img {
    width: 90%;
    object-fit: cover;
    transition: transform 0.8s ease;
    margin-left: 12px;

}

.top {
    transition: opacity 0.5s;
    display: none;
}

.base {
    display: block;
}

.product-image:hover .top {
    /* opacity: 1; */
    transform: scale(1.05);
    display: block;
}

.product-image:hover .base {
    /* opacity: 1; */
    transform: scale(1.05);
    display: none;
}


.image-description {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.line-through {
    text-decoration: line-through;
}

.quick-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    border: 2px solid #6a1b9a;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 25px;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
}

.quickshop-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    gap: 80px;
}

.quick-shop:hover {
    background: #6a1b9a;
    color: #fff;
}

.view-all {
    height: 40px;
    width: 150px;
    border: 2px solid #6a1b9a;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    transition: background-color 1.5s ease;
}

.view-all:hover {
    background: #6a1b9a;
    color: #fff;
}

.hero-banner {
    height: 500px;
    width: 85%;
    margin: 0 auto;

}

.hero-banner-img {
    width: 100%;

}

.hero-banner-img img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 16px;
}

.category-heading {
    display: inline-block;
    background-color: #f5a623;
    color: white;
    font-family: 'Fredoka One';
    font-size: 2rem;
    font-weight: 600;
    padding: 12px 40px;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
    text-align: center;
    width: 1300px;
    letter-spacing: 2px;
}

.category-heading p {
    display: inline;
    font-size: 2.6rem;
    font-weight: 800;
}

/* .circle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    /* margin-left: 35px; */
/* 
}

.circle-box-img {
    margin: 50px 30px;
    max-width: 25%;
    border-radius: 50%;
}

.circle-box-img img {
    width: 100%;
    height: auto;
    display: block;
} */ 
 
.circle-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.circle-box-img {
    height: 300px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-size: contain;
 }
 